<div class="my-8">
  <div class="mb-4" id="content-<%= @content.id %>">
  <% if @content.favorited_by?(current_user) %>
    <%= render "destroy_favorite", content: @content %>
  <% else %>
    <%= render "create_favorite", content: @content %>
  <% end %>
  </div>
</div>