<ul>  
  <li>
    <div>
      <span><%= make_counter + 1 %>.</span>
      <span><%= make.detail %></span>

      <% if admin_user?%>
        <!-- 編集ボタン-->
        <%= link_to "編集する", edit_make_path(make.id, params: { content_id: make.content.id }), method: :get %>
        <!-- 削除ボタン-->
        <%= link_to "削除する", make_path(make.id), data: { confirm: '削除してもよろしいでしょうか？'}, method: :delete %>
      <% end %>

    </div>
  </li>
</ul>
