<ul>  
  <li class="mb-4">
    <div class="border-b">

      <!-- 作り方-->
      <div>
        <%= make_counter + 1 %>.
        <%= make.detail %>
      </div>

      <!-- 作り方CRUD-->
      <% if admin_user?%>
        <!-- 編集ボタン-->
        <%= link_to ">>編集", edit_make_path(make.id, params: { content_id: make.content.id }), method: :get, class: "admin-link" %>
        <!-- 削除ボタン-->
        <%= link_to ">>削除", make_path(make.id), data: { confirm: '削除してもよろしいでしょうか？'}, method: :delete, class: "admin-link" %>
      <% end %>

    </div>
  </li>
</ul>
