  <%= form_with model: @question, local: true do |f| %>
    <div class="form-body">

      <%= f.hidden_field :content_id, value: @content.id %>

      <div>
        <p><%= f.text_area :question_content, placeholder: "100文字以内", maxlength:"100", class:"text-area" %></p>
      </div>

        <div class="my-4">
          <%= f.submit "質問する", data: { confirm: '確定します。よろしいでしょうか？'}, class:"submit-btn"%>
        </div>
     </div>

  <% end %>
