  <!-- 質問カード-->
  <div class="border bg-white rounded-lg mb-4">
    <!-- 質問ユーザー -->
    <div class="flex px-4 py-8">
      <%= image_tag question.user.thumbnail.thumb27.url, class:"rounded-full border border-gray-300"%>
      <span class="ml-4"><%= question.user.name %></span>
    </div>

    <!-- 質問内容 -->
    <div class="text-left px-4 py-8">
      <%= question.question_content %>
    </div>

    <!-- 質問CRUD -->
    <% if permit_user?(question) && question.response.nil? %>
      <div class="text-left p-4">
        <%= link_to ">>削除", question_path(question), data: { confirm: '確定します。よろしいでしょうか？', disable_with: "送信中..."}, method: :delete, class:"red-link" %>
      </div>
    <% end %>
  </div>
