  <%= form_with model: @question, local: true do |f| %>
    <div class="form-body p-4">

      <%= f.hidden_field :content_id, value: @content.id %>

      <div class="my-4">
        <%= f.text_area :question_content ,placeholder: "100文字以内", maxlength:"100", class:"text-area" %>
      </div>

        <div class="my-4">
          <%= f.submit "質問する", data: { confirm: '確定します。よろしいでしょうか？'}, class:"submit-btn"%>
        </div>
     </div>

  <% end %>
