<div>

  <!-- 写真 -->
  <div>
    <%= image_tag review.image.thumb214.url %>
  </div>

  <!-- ユーザー情報 -->
  <div>

    <!-- ユーザーの写真 -->
    <div>
      <p>ユーザーの写真<%=image_tag review.user.thumbnail.thumb27.url %></p>
    </div>

    <!-- ユーザーネーム -->
    <div>
      <p>ユーザーネーム:<%= review.user.name %></p>
    </div>
  
  </div>

  <!-- レビュー -->
  <div>
    <p>レビュー:<%= review.comment%></p>
  </div>

</div>
