<div class="mx-4">

  <!-- 写真 -->
  <div class="image-style">
    <%= image_tag review.image.thumb214.url %>
  </div>

  <!-- ユーザー情報 -->
  <div class="flex p-4 text-center">
    <!-- ユーザーの写真 -->
    <div>
      <%=image_tag review.user.thumbnail.thumb27.url %>
      <%#= review.user.name %>
    </div>
    <!-- ユーザーネーム -->
    <div>
      <%= review.user.name %>
    </div>
  </div>

  <!-- レビュー -->
  <div class="text-left p-1">
    <p>レビュー:<%= review.comment%></p>
  </div>
</div>
