  <!-- タイトル -->
  <% if params[:q].present? && @search_word.present? %>

    <!-- 条件検索の場合 -->
    <div class="h1">
　　   <h1>SEARCH</h1>
　　　  <p class="text-sm pt-2">「 <%= @search_word %> 」<p>
　　 </div>
    <!-- 条件検索の場合 -->

  <% elsif params[:tag_id].present? %>

　　<!-- キーワード検索の場合 -->
  　<% if @search_word.present?%>
　　　 <div class="h1">
　　　   <h1>KEYWORD</h1>
　　　   <p class="text-sm pt-2">「 <%= @search_word %> 」<p>
　　　 </div>

  　<% else %>
      <div class="h1">
        <h1>KEYWORD</h1>
        <p class="text-sm pt-2">キーワード<p>
     </div>
    <% end %>
    <!-- キーワード検索の場合 -->
　　
  <% else %>

　　 <!-- 検索でない場合 --> 
    <div class="h1">
      <h1>CONTENT</h1>
      <p class="text-sm pt-2">コンテンツ<p>
    </div>
　　 <!-- 検索でない場合 --> 
  
  <% end %>
