<h2 class="h2">コンテンツ一覧</h2>

<!-- content_card -->
<div class="md:flex justify-center">
  <%= render partial: "layouts/content_card", collection: @contents, as: "content" %>
</div>

<!-- ページネーション  -->
<%= paginate @contents, window: 1 %>
<div class="py-4">
  <%= page_entries_info(@contents)%>
</div>
