<div class="link_style">
  <span class="p-2"><%= link_to ">>TOPページ", root_path, class:"blue-link"%></span>
</div>

<div class="h1">
  <h1>NEWEST</h1>
  <p class="text-sm pt-2">新着情報<p>
</div>

<div class="content-style">
  <%= render partial: "layouts/content_card", collection: @new_contents, as: "content" %>
</div>

<!-- ページネーション -->
<%= paginate @new_contents, window: 1 %>
<div class="py-4">
  <%= page_entries_info(@new_contents)%>
</div>
