<div class="text-left pl-2 py-2">
  <span class="p-2"><%= link_to ">>TOPページ", root_path, class:"blue-link"%></span>
</div>

<h1 class="py-8">人気情報一覧</h1>
<div class="content-style">
    <%= render partial: "layouts/content_card", collection: @popular_contents, as: "content" %>
</div>

<!-- ページネーション -->
<%= paginate @popular_contents, window: 1 %>
<div class="py-4">
  <%= page_entries_info(@popular_contents)%>
</div>