<h2 class="h2">人気情報一覧</h2>
<div class="md:flex justify-center flex-wrap">
    <%= render partial: "layouts/content_card", collection: @popular_contents, as: "content" %>
</div>

<!-- ページネーション -->
<%= paginate @contents, window: 1 %>
<div class="py-4">
  <%= page_entries_info(@contents)%>
</div>