<h1 class="py-8">おすすめ情報一覧</h1>
<div class="content-style">
  <%= render partial: "layouts/content_card", collection: @recommend_contents, as: "content" %>
</div>

<!-- ページネーション -->
<%#= paginate @contents, window: 1 %>
