<div class="my-4 p-4 text-left">
  <%= link_to ">コンテンツ詳細へ戻る", content_show_path(@content_id), class:"admin-link"%>
</div>

<div class="pt-16 pb-32">
  <h1 class="my-8">作り方を編集</h1>
  <%= render "form"%>
</div>