<h2 class="h2 py-8">お気に入り一覧</h2>

<% if  @favorite_contents.exists? %>
  <div class="content-style">
    <%= render partial: "layouts/content_card", collection: @favorite_contents, as: "content" %>
  </div>
<% else %>
  <p class="my-16 py-64">現在お気に入りはありません。</p>
<% end %>

<!-- ページネーション -->
<%= paginate @favorite_contents, window: 1 %>
<div class="py-4">
  <%= page_entries_info(@favorite_contents)%>
</div>