  <div>
    <span><%= form.label :title, class:"form-title" %></span>
    <%= form.text_field :title, required: true, class: "text-field" %>
  </div>
  <div>
    <span><%= form.label :content, class:"form-title" %></span>
    <p><%= form.text_area :content, required: true, class:"text-area" %></p>
  </div>
