<div class="link_style">
  <%= link_to ">コンテンツ詳細へ戻る", content_show_path(Question.find_by(params[:question_id]).content.id), class:"admin-link"%>
</div>

<h1 class="h1">返信を編集する</h1>

<%= render "form" %>