<div class="md:flex">

  <!-- main_content -->
  <div class="md:w-3/4">
    <%= render "main_content" , locals: @content_tags %>
  </div>

  <!-- side_content -->
  <div class="md:w-1/4 md:ml-12">
    <%= render "layouts/sidebar" %>
  </div>

  <!--  TOPページボタン -->
  <%= render "layouts/page_top" %>

</div>
