<div class="lg:flex">

  <!-- main_content -->
  <div class="lg:w-3/4">
    <%= render "main_content" , locals: @content_tags %>
  </div>

  <!-- side_content -->
  <div class="md:ml-12 lg:w-1/4">
    <%= render "layouts/sidebar" %>
  </div>

  <!--  TOPページボタン -->
  <%= render "layouts/page_top" %>

</div>
