//************ボタン**************//
//ベース
.base_btn {
 @apply text-white font-bold py-2 px-6 my-8 rounded-lg focus:outline-none shadow-lg
}

.blue-btn {
  @apply base_btn bg-gradient-to-r from-blue-400 to-dekiru-blue hover:from-dekiru-light_blue hover:to-dekiru-light_blue transition ease-out
}

.red-btn {
  @apply base_btn bg-red-500 hover:bg-red-300
}

.admin-btn {
  @apply base_btn bg-dekiru-admin hover:bg-red-100
}
.submit-btn {
  @apply base_btn bg-dekiru-blue hover:bg-dekiru-light_blue
}

// お気に入りボタン
.favorite-btn {
  @apply text-white bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full my-4
}

.no-favorite-btn {
  @apply text-green-500 border border-green-500 hover:bg-green-700 font-bold py-2 px-4 rounded-full 
}

//カテゴリーキーワード
.category-tag-btn {
  @apply text-white bg-dekiru-blue border-0 m-1 py-2 px-6 focus:outline-none text-lg transition ease-in-out
}

//コンテンツキーワード(リンクなし)
.content-tag-style {
  @apply text-white bg-dekiru-keyword border-0 m-1 py-2 px-6 focus:outline-none text-lg
}

//コンテンツキーワード(リンクあり)
.content-tag-btn {
  @apply text-white bg-dekiru-keyword hover:bg-green-400 border-0 m-1 py-2 px-6 focus:outline-none transition ease-in-out
}

//カテゴリータグ
.content-category-style {
  @apply text-white bg-dekiru-blue border-0 m-1 py-2 px-6 focus:outline-none text-lg
}

//カテゴリーキーワード(リンクあり)
.category-tag-btn {
  @apply text-white bg-dekiru-blue hover:bg-dekiru-light_blue border-0 m-1 py-2 px-6 focus:outline-none text-sm transition ease-in-out
}



//************ トップへ戻るボタン **************//
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 77%;
}
#page-top a {
  width: 32px;
  display: block;
}
