// ===========モジュール==========================
// カラー
$base-color: #f8f8f8;
$main-color: #ffffff;
$accent-color1: #7373ff;
$accent-color2: #72ffff;
$keyword-color: #F6E8EB;
$basic-font-color: #000000;
// $creator-color: #ea617c;
// $creator-sub-color: #F6E8EB;
// $client-color: #32B9ec;
// $client-sub-color: #E2F7FF;
// $text-font-color: #707070;

// フォント基本
$font-bold: 600;

// フォントサイズ 
$font-title-size: 28px;
$font-main-size: 20px;
$font-sub-size: 14px;
$font-tag-size: 12px;
$sp-font-main: 14px;
$sp-font-text: 12px;

// 画像・アイコン
$icon-size: 20px;
$pc-sns-icon: 50px;
$sp-sns-icon: 24px;
$pc-user-img: 110px;
$pc-user-sub-img: 50px;
$pc-task-img: 65px;