<div class="mx-4 md:mx-20 xl:mx-16">
  <%= link_to ">TOPページ", root_path, class:"blue-link text-left block my-4"%>
</div>

<div class="pt-16 pb-52 mx-auto max-w-6xl">
  <h1 class="py-8">カテゴリー一覧画面</h1>
  <div class="pt-16 pb-32">
    <div class="flex justify-center md:justify-start flex-wrap my-1">
      <%= render partial: "category_card", collection: @categories, as: "category" %>
    </div>
  </div>
</div>
