<div class="my-8">
  <h1 class="py-8">カテゴリー一覧画面</h1>
  <div class="pt-16 pb-32">
    <div class="flex justify-start flex-wrap my-2">
      <%= render partial: "category_card", collection: @categories, as: "category" %>
    </div>
  </div>
</div>
