<div class="md:flex>
  <div><%= category.name %></div>
  <%= link_to ">>このカテゴリーへ移動" , category_path(category.id), class: "blue-link" %>
  <%= render partial: "layouts/content_card", collection: category.contents.first(3), as: "content" %>
    <% category.contents.first(3).each do |content|%>
  <% end %>
</div>
