<%= link_to content_show_path(content.id) do %>
  <div>
    <div>
      <%= image_tag youtube_thumbnail(content.movie_id) %>
    </div>
    <div>
      <%= content.title%>
    </div>
  </div>
<% end %>
