<%= link_to content_show_path(content.id) do %>
  <div>
    <div>
      <%# TODO: youtubeのサムネ画像を保存する処理を実装後に実装%>
      <%= image_tag content.movie_thumbnail.url %>
    </div>
    <div>
      <%= content.title%>
    </div>
  </div>
<% end %>
