<!-- ページネーション  -->
<div class="flex justify-center m-8"> 
  <div><%= link_to_previous_page @contents, '<', class:"pagenate-btn" %></div>
  <div><%= link_to_next_page @contents, '>', class:"pagenate-btn" %></div>
</div>
