
<div class="top-container lg:sticky lg:top-32">

  <!-- キーワード-->
  <div class="mb-8">
    <!-- タイトル-->
    <div class="py-2">
      <h2 class="md:text-2xl">KEYWORD</h2>
      <p class="block md:px-4">キーワード</p>
      <!--後で調整  <p class="top-link"><%= link_to ">>全て見る", categories_path, class:"blue-link" %></p>-->
    </div>
    <!-- キーワードリンク-->
    <div class="flex justify-start flex-wrap my-1 max-w-6xl px-4">
      <%= render partial: "layouts/content_tag", collection: @content_tags, as: "tag" %>
    </div>
  </div>

  <!-- カテゴリー-->
  <div class="mb-8">
    <!-- タイトル-->
    <div class="py-2">
      <h2 class="md:text-2xl">CATEGORY</h2>
      <p class="block md:px-4 mt-2">カテゴリー</p>
      <!--後で調整  <p class="top-link"><%= link_to ">>全て見る", categories_path, class:"blue-link" %></p>-->
    </div>
    <!-- カテゴリーリンク-->
    <div class="flex justify-start flex-wrap my-1 max-w-6xl px-4"> 
      <%= render partial: "layouts/category_tags", collection: @category_names, as: "category" %>
    </div>
  </div>
  
</div>