<div class="md:w-1/2 zoom">
<%= link_to content_show_path(content.id) do %>
  <div class="w-11/12 2xl:w-full my-4 max-w-lg mx-auto shadow-x1 overflow-hidden bg-white rounded shadow-lg">
    <%= image_tag youtube_thumbnail(content.movie_id), class:"w-full object-cover" %>
    <div class="px-4 py-2 text-md text-dekiru-font text-sm">
      <%= content.title %>
    </div>
  </div>
<% end %>
</div>
